/* -Change the font,
design the hero Image(change the background)
change the button*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
    font-size: 60%;
}

body {
    font-family: "inter", sans-serif;
    line-height: 1;
    font-weight: 200;
    color: black;
    font-size: 20px;
}

/*-----------------Fisrt section---------------*/
.main {
    width: 100%;
    display: grid;
    margin: 0 auto;
    background-image: linear-gradient(rgba(32, 1, 1, 0.4), rgba(27, 0, 0, 0.4)),url(background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    text-align: center;
}

.motto{
    font-size: 1.5vw;
    line-height: 105%;
    margin-bottom: 5%;
    font-weight: 100;
    text-align: center;
    color: rgb(197, 192, 192);
}
.main-head {
    font-size: 4.5vw;
    font-weight: 100;
    line-height: 105%;
    margin-bottom: 15px;
    letter-spacing: -0.5px;
    text-align: center;
    color: rgb(250, 235, 235);
}

.action-but:link, .action-but:visited {
    background-color: rgb(81, 190, 136);
    color: white;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 110px;
    text-decoration: none;
    display: inline-block;
    box-shadow: inset 0 0 0 1.5px white;
    transition: background-color 500ms;
}

.action-but:hover, .action-but:active {
    background-color: rgb(49, 128, 82);
    color: white;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 110px;
    text-decoration: none;
    display: inline-block;
}

/*-------------------header----------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 10px 150px 10px 150px;
}
.logo {
    padding-top: 55px;
    height: 25rem;
}

.main-nav-list {
    padding-top: 55px;
    list-style: none;
    display: flex;
    gap: 4rem;
    font-size: 15px;
}

.main-nav-link:link, .main-nav-link:visited {
    text-decoration: none;
    color: rgb(247, 240, 240);
    font-weight: 500;
    font-size: 170%;
    transition: all 500ms;
}

.main-nav-link:hover, .main-nav-link:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 170%;
}

/*-----------------grid-reusables---------------*/

.grid {
    display: grid;
    gap: 9.6rem;
}

.grid--2--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
    grid-template-columns: repeat(3,1fr);
}

.grid--4--cols {
    grid-template-columns: repeat(4,1fr);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3.2rem;
}

/*---------------section-prob---------------*/
.section-prod {
    padding-left: 0;
    margin: 0;
}
.prob-class {
    position: relative;
    width: 100%;
}
.prob-img {
    width: 150%;
    height: auto;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    width: 150%;
    height: auto;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   transition: 0.5s ease;
   background-color: black;
}

.prob-class:hover .middle{
    opacity: 0.7;
}

.prob-para {
    color:white;
    font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   text-align: center;
}

/*----------section-ing--------------------*/
.subheading{
    text-align: center;
    padding-left: 40%;
    padding-top: 150%;
}
.ingre {
    padding: 9.6rem 0;
}

.step-img{
    width: 50%;
}

.head-ing {
    text-align: center;
    line-height: 1.2;
    font-size: 4.4rem;
}

/*----------section-prod-det-------------------*/

.product {
        max-width: 120rem;
        margin: 0 auto;
        padding: 3.2rem;
}

.val-img {
    width: 150%;
    height: 100%;
    display: block;
    padding: 3.2rem;
}

